.table1{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.table{
    margin-top: 10px;
}
.pdf-button{
    width: auto;
}
.status-header {
    width: 300px; /* Adjust the width as needed */
  }
  